
footer {
    width: 100%;
    max-width: 192rem;
    margin: auto;
    position: relative;
    z-index: 0;
    margin-bottom: 5rem;
    background-color: black;
}

.footer-data {
    width: 80%;
    max-width: 192rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;

}

.footer-top {
    font-size: 1.8rem;
    color: rgba(255,255,255,0.7);
}

.footer-top  a{
    text-decoration: underline;
    color: rgba(255,255,255,0.7);
}

.footer-middle {
    color: rgba(255,255,255,0.7);
    font-size: 1.4rem;
}

.footer-links {
    width: 24%;
    row-gap: 2.2rem;
}

.footer-links a {
    text-decoration: underline;
    color: rgba(255,255,255,0.7);
}

.footer-language {
    background-color: black;
}

.footer-language-options {
    user-select: none;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 12rem;
    height: 3rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    border: 1px solid gray;
}

.footer-language-options i {
    font-size: 1.5rem;
}

.end-section {
    font-size: 1.4rem;
    color: rgba(255,255,255,0.7)
}