main {
    max-width: 100%;
    position: relative;
    z-index: 0;
}


.curve-container {
    width: 100%;
    max-width: 198rem;
    height: 10rem;
    z-index: 5000;
    position: absolute;
    bottom: -3rem;
    left: 0;
    margin: auto;
    overflow: hidden;

}

.curve-container::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    max-width: 198rem;
    height: 100%;
    background: linear-gradient( to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84% );
    left: 50%;
    transform: translate(-50%);
}

.curve-container-2 {
    width: 100%;
    max-width: 198rem;
    height: 12rem;
    z-index: 9999;
    position: absolute;
    left: 0;
    bottom: -6rem;
    margin: auto;
}

.curve-container-2::before{
    content: '';
    display: block;
    position: absolute;
    border-radius: 90%;
    width: 100%;
    max-width: 198rem;
    height: 80%;
    background:radial-gradient( 50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100% ),black;
    left: 50%;
    transform: translate(-50%);
}


@media screen and (max-width: 480px){

    
    .curve-container::before {
        width: 135%;
        height: 150%;
    }

    .curve-container-2::before {
        width: 120%;
        height: 80%;
    }
}
