.promo {
    height: 40rem;
    width: 100%;
    margin: auto;
    max-width: 192rem;
    background: black;
    margin: auto;
    top: -10rem;
    margin-top: 3rem;

}

.promo-content {
    width: 80%;
    margin: auto;

}

.promo-text {
    color: white;
    font-size: 2.5rem;
    font-weight: 700;

}



.promo-list {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    flex-direction: row;
    column-gap: 1.5rem;
}

.promo-card {
    height: 26rem;
    width: 24.9%;
    background: linear-gradient( 149deg, #192247 0%, #210e17 96.86% );
    padding: 1.5rem;
    position: relative;
    border-radius: 1rem;
    box-sizing: border-box;
}

.h1-promo {
    font-size: 2.5rem;
    color:white;
    width: 100%;
    margin-top: 0.8rem;
    font-weight: 600;
}

.p-promo {
    font-size: 1.5rem;
    margin-top: 3rem;
    line-height: 2rem;
    color: rgba(255,255,255,0.7);
}

.promo-image {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}


@media (max-width: 1280px) {

    .promo-list {
        height: 51rem !important;
        flex-wrap: wrap;
    }
    .promo-card {
        width: 44.6% !important;
        height: 21rem !important;
    }

    .promo{
        height: 55rem;
        margin-bottom: 2rem;
    }

    .promo-content {
        width: 85% !important;
        margin: auto !important;
    }
}

@media (max-width: 960px) {

    .promo {
        margin-top: 0;
        margin-bottom: 0;
        height: 85rem;
    }
    .promo-content {
        width: 95% !important;
        height: 100%;
        margin: auto;
    }
    .promo-text {
        font-size: 2rem !important;
    }


    .promo-list {
        flex-direction: column;
        height: 100% !important;
        gap: 1rem
    }

    .promo-card {
        width: 100% !important;
        height: 18.6rem !important;
    }

    .h1-promo {
        font-size: 2rem !important;

    }

    .p-promo {
        font-size: 1.5rem !important;
    }
}