.question-section {
    width: 100%;
    max-width: 192rem;
    background-color: black;
    margin: auto;
    margin-bottom: 5rem;
}

.question-content {
    width: 80%;
    margin: auto;
    overflow: auto;
}

.question-text {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
}

.accordion-list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
    max-height: 100rem;
    background-color: black;
    margin-top: 2rem;
}

.accordion {
    color: white;
    background: rgb(45,45,45);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}

.accordion-top {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;
    border-bottom: 2px solid black;

}

.accordion-top:hover {
    background: rgb(79, 79, 79);
}


.cross {
    font-size: 4rem;
    transform: rotate(45deg);
    transition: 0.3s all;

}

.accordion-bottom {
    display: none;
    font-size: 2.4rem;
    padding: 2.5rem;
    transition: all 1s;
}

.show {
    display: block !important;
}


.accordion-bottom-span {
    margin-top: 5rem;
    display: block;
}


.animate {
    transform: rotate(0deg);
    
}

.question-button {
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.sign-up2 {
    background-color: rgb(193,17,25);
    width: 25rem;
    height: 5.6rem;
    color: white;
    font-size: 2.5rem;
    padding: 0.3rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}

.sign-up2:hover {
    background-color:rgb(125, 18, 24);
}

.sign-up2 i {
    font-size: 2rem;
    margin-left: 1.4rem;
}




