.head {
    width: 100%;
    max-width: 192rem;
    margin: auto;
    height: auto;
}

.top {
    width: 100%;
    max-width: 192rem;
    height: 80rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -3rem;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;

    /* background: wheat; */
}

.top-background {
    position: relative;
    z-index: -1;
    top:  -2rem;
    margin: auto;
    width: 100%;
    height: 90rem;
    max-width: 192rem;
    object-fit: cover;
    object-position: center;
    
}

.overlay {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.8500) 3.000%, rgba(0, 0, 0, 0.8465) 11.08%, rgba(0, 0, 0, 0.8361) 19.17%, rgba(0, 0, 0, 0.8187) 27.25%, rgba(0, 0, 0, 0.7944) 35.33%, rgba(0, 0, 0, 0.7632) 43.42%, rgba(0, 0, 0, 0.7250) 51.50%, rgba(0, 0, 0, 0.6868) 59.58%, rgba(0, 0, 0, 0.6556) 67.67%, rgba(0, 0, 0, 0.6313) 75.75%, rgba(0, 0, 0, 0.6139) 83.83%, rgba(0, 0, 0, 0.7035) 91.92%, rgba(0,0,0,0.8) 95%,rgba(0, 0, 0, 0.9) 96.0%);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}
/* 
.overlay2 {
    background: radial-gradient(11% 56% at 17% 50%, #461518 0%, transparent 100%),radial-gradient(11% 56% at 83% 50%, #461518 0%, transparent 100%);
    position: absolute;
    top:0;
    height: 31%;
    width: 298rem;
    z-index: -500;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    max-width: 298rem;
    margin: auto;
} */
.bgimage {
    height: 80rem;
    width: 100%;
    max-width: 192rem;
    margin: auto;
    color: red;
    position: relative;
}



.center-content {
    height: 100%;
    width: 100%;
    max-width: 192rem;
    display: flex;
    position: absolute;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.center-content h1,p {
    color: white;

}

.center-content .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70rem;
    text-align: center;
}

.top-h1 {
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 7rem;
    margin-bottom: 1.5rem;
}

.top-p {
    font-size: 2rem;
    margin-bottom: 3rem;
    font-weight: 600;
}

.top-button {
    background: rgb(229,9,20);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
    border: none;
    width: 25rem;
    height: 5.6rem;
    font-size: 2.5rem;
    font-weight: 600;
    border-radius: 0.5rem;
    cursor: pointer;
}

.top-button:hover {
    background-color: rgb(193,17,25);
}

.top-chevron-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    font-size: 1.8rem;
    vertical-align: middle;
    font-weight: 300;
}


@media (max-width: 1280px) {

    .center-content .text {
        width: 50rem;
    }
    .top-h1 {
        font-size: 3.8rem;
        line-height: 5rem;
    }

    .top-p {
        font-size: 1.4rem;
    }

    /* .overlay2 {
        display: none !important;
    } */

}


@media (max-width: 960px) {

    .center-content .text {
        width: 40rem;
    }
    .top-h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .top-p {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
    }
}

@media  screen and (max-width: 480px) {

    .top {
        height: 72rem !important;
    }
    .center-content .text {
        width: 33rem !important;
    }

    .top-h1 {
        font-size: 2.6rem;
    }

    .top-button {
        width: 21rem;
        font-size: 2.4rem;
        margin-top: 3rem;
    }



}